.idea/
.vscode/

env/localhost.sh
Thumbs.db
yarn-error.log
package-lock.json

node_modules/
build/
dist/
.scannerwork/

.editorconfig
.eslintignore
.eslintrc
.eslintcache
.stylelintignore
.stylelintrc

__tests__/components/__snapshots__
__tests__/setup/coverage
